# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

*.enc*

# Libs
core/lib/argon2/
core/lib/cryptopp/
core/lib/libntru/
core/lib/liboqs*
core/lib/pistache/
core/lib/rapidjson/
core/bin/*
core/grpc/grpc/
core/grpc/ca*
core/grpc/server*
core/grpc/client*
core/grpc/coherence.grpc*
core/grpc/coherence.pb*
core/grpc/coherence_pb2*
core/grpc/coherence_client
core/grpc/coherence_grpc
core/examples/get-pip.py